footer {
    padding: 20px 0;
    font-size: 12px;
    .copyright {
        float: left;
    }
    .attribution {
        float: right;
        font-size: 10px;
    }
    a {
        text-decoration: none;
        color: #333;
        &:hover, &:focus {
            text-decoration: none;
            color: #1abc9c;
            @include transition(all, linear, 0.2s);
        }
    }
    @media(max-width: $s) {
        text-align: center;
        font-size: 10px;
        .copyright, .attribution {
            float: none;
            display: block;
        }
    }
}
