.page-pagination {
    .pagination {
        li {
            a {
                background-color: #fff;
                color: #333;
                @include border-radius(0);
                &:hover, &:focus {
                    background-color: #eee;
                    color: #333;
                }
            }
        }
        .active {
            a {
                background-color: #eee;
                border: 1px solid #ddd;
            }
        }
    }

    @media(max-width: $s) {
        text-align: center;
    }
}
